<div class="minicard d-flex">
    <div class="minicard__logo">
        <img src="assets/icons/icon-dummy.svg">
    </div>
    <div class="minicard__information">
        <span class="minicard__information__title">Pedro Username</span>
        <p class="minicard__information__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>    
    </div>
    <div class="minicard__action">
        <div class="dropdown btn-group dropup">
            <i class="minicard__action__button bi bi-three-dots-vertical" data-bs-toggle="dropdown"></i>
            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0)"><img src="assets/icons/icon-edit-gray.svg">Editar</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)"><img src="assets/icons/icon-delete-gray.svg">Eliminar</a></li>
            </ul>
          </div>
    </div>
</div>