<footer class="footer">
    <div class="footer__logo">
        <img src="assets/images/logo-footer.svg">
    </div>
    <div class="footer__information">
        <div class="footer__information__channels">
            <div class="footer__information__channels__item">
                <span class="footer__information__channels__item__title">Atención al ciudadano</span>
                <p class="footer__information__channels__item__info d-flex gap-2 flex-column mt-2">
                    <span>
                        Lima:<br>
                        224 7777
                    </span>
                    <span>
                        Regiones:<br>
                        0-800-4-4040<br>
                        (Llamada gratuita)
                    </span>
                </p>
            </div>

            <div class="footer__information__channels__item">
                <span class="footer__information__channels__item__title">Horario de Atención</span>
                <p class="footer__information__channels__item__info d-flex gap-2 flex-column mt-2">
                    <span>
                        Mesa de Partes Presencial<br>
                        Lunes a Viernes<br>
                        08:30 a.m. - 04:30 p.m.
                    </span>
                </p>
            </div>

            <div class="footer__information__channels__item">
                <span class="footer__information__channels__item__title">Contáctanos</span>
                <p class="footer__information__channels__item__info d-flex gap-2 flex-column mt-2">
                    <span>
                        Centro de Información<br>
                        cid&#64;indecopi.gob.pe
                    </span>
                    <span>
                        Mesa de Partes<br>
                        consultasmesadepartes&#64;indecopi.gob.pe
                    </span>
                    <span>
                        Escuela de Indecopi<br>
                        escuela&#64;indecopi.gob.pe
                    </span>
                </p>
            </div>
            <div class="footer__information__channels__item">
                <span class="footer__information__channels__item__title">Oficinas</span>
                <p class="footer__information__channels__item__info d-flex gap-2 flex-column mt-2">
                    <span>
                        Lima Sur:<br>
                        Calle De La Prosa 104, San<br>
                        Borja
                    </span>
                    <span>
                        Lima Norte:<br>
                        Av. Carlos Izaguirre 988, <br>
                        Los Olivos
                    </span>
                </p>
            </div>
        </div>
        <div class="footer__information__social d-flex flex-column align-items-center  mt-5">
            <img class="footer__information__social__image d-flex flex-column"
                src="assets/images/logo-indecopi-color.svg">
            <span class="footer__information__social__text text-center mt-3">© Copyright {{ year }}. Todos los derechos
                reservados</span>
            <div class="footer__information__social__media d-flex gap-3 mt-3">
                <img src="assets/icons/icon-facebook.svg">
                <img src="assets/icons/icon-twitter.svg">
                <img src="assets/icons/icon-instagram.svg">
                <img src="assets/icons/icon-network.svg">
            </div>
        </div>
    </div>
    <div class="footer__direction" (click)="scrollToTop()">
        <button class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="bi bi-chevron-up"></i>
        </button>
    </div>
</footer>