<div class="row m-0 background-image">
  <div class="col-xl-6 align-items-center d-flex justify-content-center" style="min-height: 100vh;">
      <div class="m-card">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-center align-items-center mb-4">
                      <img src="assets/images/logo.jpg" alt="Logo" width="200"
                          class="logo">
                  </div>
                  <h2 class="text-start mb-2">Inicia Sesión</h2>
                  <p class="text-start mb-4">Ingresa tus datos para acceder a todos los servicios.</p>
                  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                      <div class="mb-3">
                          <div class="m-input">
                              <label for="username" class="form-label">Nombre de Usuario</label>
                              <input type="text" class="form-control" id="username"
                                  formControlName="username" />
                          </div>
                      </div>
                      <div class="mb-3">
                          <div class="m-input">
                              <label for="password" class="form-label">Contraseña</label>
                              <div class="input-group">
                                  <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                      id="password" formControlName="password" />
                                  <button class="btn btn-outline-secondary" type="button"
                                      (click)="togglePasswordVisibility()">
                                      <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                                  </button>
                              </div>
                          </div>
                      </div>
                      <button type="submit" class="btn btn-primary w-100">Iniciar
                          Sesión</button>
                  </form>

              </div>
          </div>
      </div>
  </div>
  <div class="d-none d-md-block col-xl-7 d-flex align-items-center">
  </div>
</div>
