<div class="cardimageinfo">
    <div class="cardimageinfo__header d-flex flex-column gap-2">
        <img src="assets/images/image-mock-rectangle.svg">
        <app-badge type="success" text="Active"></app-badge>
        <span class="cardimageinfo__header__name">Pedro Username</span>
        <p class="cardimageinfo__header__information">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
    </div>
</div>