.cardimageinfo {
    width: 473px;
    height: 452px;
    border: 1px solid #D9D9D9;
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    &__header {

        &__name {
            color: #464F60;
            font-family: var(--font-family-bold);
            font-size: 26px;
        }

        &__information {
            font-size: 1rem;
            line-height: 20px;
        }
    }
}