.main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .main-menu {
    width: 74px;
    transition: all 0.5s ease;

    &.collapsed {
      width: 292px; // Ancho del sidebar expandido
    }
  }

  .main-section {
    width: calc(100% - 74px);
    padding: 40px 40px;
    transition: all 0.5s ease;

    &.collapsed-section {
      width: calc(100% - 292px); // Ajuste del ancho cuando el sidebar está expandido
    }
  }
}