<div class="carduserinfo">
    <div class="carduserinfo__header d-flex flex-column align-items-center">
        <img src="assets/images/image-mock.svg">
        <span class="carduserinfo__header__name">Pedro Username</span>
        <app-badge type="success" text="Active"></app-badge>
    </div>
    <div class="carduserinfo__information d-flex flex-column gap-1">
        <div class="carduserinfo__information__item">
            <span class="carduserinfo__information__item__label">Documento:</span>
            <span class="carduserinfo__information__item__value">75379919</span>
        </div>
        <div class="carduserinfo__information__item">
            <span class="carduserinfo__information__item__label">LE/DNI:</span>
            <span class="carduserinfo__information__item__value">75379919</span>
        </div>
        <div class="carduserinfo__information__item">
            <span class="carduserinfo__information__item__label">Nombres:</span>
            <span class="carduserinfo__information__item__value">Recibido</span>
        </div>
        <div class="carduserinfo__information__item">
            <span class="carduserinfo__information__item__label">Apellido Paterno:</span>
            <span class="carduserinfo__information__item__value">yzaguirre</span>
        </div>
        <div class="carduserinfo__information__item">
            <span class="carduserinfo__information__item__label">Apellido Materno:</span>
            <span class="carduserinfo__information__item__value">cabrera</span>
        </div>
        <div class="carduserinfo__information__item">
            <span class="carduserinfo__information__item__label">Correo:</span>
            <span class="carduserinfo__information__item__value">dyzaguirrecabrera&#64;gmail.com</span>
        </div>
        <div class="carduserinfo__information__item">
            <span class="carduserinfo__information__item__label">Celular:</span>
            <span class="carduserinfo__information__item__value">51959784623</span>
        </div>
    </div>
    <div class="carduserinfo__button d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-primary">Editar</button>
    </div>
</div>