<div class="uploadfile d-flex flex-column">
    <div class="uploadfile__label d-flex align-items-center gap-1">
        <label>Adjunta tus archivos</label>
        <i class="bi bi-info-circle"></i>
    </div>
    <div class="uploadfile__drag d-flex flex-column align-items-center justify-content-center">
        <img src="assets/icons/icon-upload-yellow.svg">
        <span class="uploadfile__drag__title">Arrastre y suelte o elija los archivos</span>
        <span class="uploadfile__drag__information">Tamaño máximo total 1 GB</span>
        <button type="button" class="btn btn-primary">Examinar</button>
    </div>
</div>