.uploadfile {
    gap: 1rem;
    &__label {
        label {
            font-size: 1rem;
        }
        i {
            font-size: 13px;
            height: 13px;
            display: flex;
        }
    }

    &__drag {
        width: 100%;
        border: 1px dashed #C4C4C4;
        gap: .5rem;
        padding-block: 1.5rem;
        border-radius: 1rem;

        &__title {
            font-family: var(--font-family-bold);
            font-size: 14px;
        }

        &__information {
            font-family: var(--font-family-light);
            font-size: 12px;
        }
    }
}